[Unit]
Description=Sanara
After=network-online.target rethinkdb.target
OnFailure=Sanara-notify.service

[Service]
ExecStart=dotnet /home/zirk/bots/Sanara/Sanara.dll
WorkingDirectory=/home/zirk/bots/Sanara
Restart=on-failure

[Install]
WantedBy=multi-user.target